.alert {
    background-color: #af2626;
    padding: 20px;
    font-size: 14px;
    border:1px solid #808080;
    color: #ffffff;
}

.alert-success {
    background-color: #90ee90;
    border-color: #17b817;
}

.alert-error {
    background-color: #ee9090;
    border-color: #b81717;
}